body {
  width: 400px;
  height: 500px;
  font-family: "Inter", sans-serif;
}
h1 {
  font-family: Rancho;
  font-size: 30px;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.day {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
}

.day-out-of-current-month {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c7c7c7;
  border: none;
}

.day.not-attended {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.day.today {
  color: #fff;
  background-color: #008ffd;
}

.day.attended {
  background-color: rgb(1, 160, 1);
  color: white;
  font-weight: bold;
}

#progressContainer {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
}

#progressBar {
  width: 0;
  height: 20px;
  background-color: #00ffea;
  border-radius: 10px;
  position: relative;
}

#progressText {
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: rgb(248, 0, 0);
  line-height: 20px; /* Ensure the text is vertically centered */
}

#monthContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#currentMonth {
  font-size: 1.2em;
  font-weight: bold;
}

#prevMonth,
#nextMonth {
  background-color: transparent;
  border: none;
  font-size: 2em;
  cursor: pointer;
}
.day,
.weekday {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.weekday {
  font-weight: bold;
  color: #aaaaaa;
}

.setting-row {
  margin-bottom: 10px;
}

#settingsButton {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
